@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error Occured";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="crumbs">
    <ul id="breadcrumbs" class="breadcrumb">
        <li><i class="icon-home"></i><a href="@Url.Action("Dashboard","Admin")">Dashboard</a> </li>
        <li class="current"><a href="pages" title="">Error Occured</a> </li>
    </ul>

</div>
<div class="page-header">
    <div class="page-title">
        <h3>
           Error Details
        </h3>

    </div>

</div>
<div class="row">

    <div class="col-md-12">
        <div class="widget box">
             
            <div class="widget-content">

                @if (Model != null)
                {
                    <div class="alert alert-danger">
                        @Model.Exception.Message
                        <br />
                        @Model.ControllerName
                        <br />
                        @Model.ActionName
                    </div>
                }



            </div>
        </div>
    </div>

</div>
 